@import "bourbon/bourbon";
@import "fonts-mixins-vars";
@import "content/init";

/* ---------------------- Cabezeras / Headers ----------------------- */

#main-header{
	background: {
        repeat: no-repeat;
        image: url('../images/header.svg');
        size: cover;
        position: bottom;
    }
    height: 120px;

	#wrap{
		@include align-items(flex-end);
		@import "content/head";
	}
}
/* ---------------------- Cuerpo / body ----------------------------- */
#main-content{
	@import "content/body";

    &.content.blog{
        @import "content/body2";
    }
}

/* ---------------------- Pies / footer ----------------------------- */

/* ---------------------Efectos, actives, extras -------------------- */

/* ---------------------- animaciones ------------------------------- */