&:before, &:after{
    content: " ";
    height: 50px;
    width:100%;
    display:block;
}
&:before{
    background:{
        image: url('../images/top-section.svg');
        size: cover;
        repeat: no-repeat;
    }
}
&:after{
    background:{
        image: url('../images/bottom-section.svg');
        size: cover;
        repeat: no-repeat;
    }
}
#div-c{
    background:{
        image: url('../images/center-section.svg');
        size: cover;
        repeat: repeat-y;
    }
}
#wrap{
    #post{
        h2{
            a{
                @include fonts(2,normal,35px);
            }
        }
        .post-dates{
            display: block;
            width: auto;
            
            .items{
                display: inline-block;
                
                div{
                    display: inline-block;
                }
            }
        }
        .post{
            @include display(flex);
            
            .post-sidebar,.content{
                padding: 5px;
            }
        }
        .redes{
            font-size: 30px;
            text-align: right;
        }
    }
}

