&:before,&:after{
    display: none;
    content: "";
}
 #div-c{
    background: transparent;
}
#wrap{
    width: 100%;
    max-width: none;
    #posts{
        width: 100%;
        
        #post{
            margin-top: 30px;
            margin-bottom: 30px;
            
            &:before, &:after{
                content: " ";
                height: 50px;
                width:100%;
                display:block;
            }
            &:before{
                background:{
                    image: url('../images/top-section.svg');
                    size: cover;
                    repeat: no-repeat;
                }
            }
            &:after{
                background:{
                    image: url('../images/bottom-section.svg');
                    size: cover;
                    repeat: no-repeat;
                }
            }
            .content-post{
                background:{
                    image: url('../images/center-section.svg');
                    size: cover;
                    repeat: repeat-y;
                }
                .center{
                    padding: 10px;
                    margin: 0 auto;
                    width: 90%;
                    max-width: 1200px;
                }
            }
            &:nth-child(2n+0){
                &:before, &:after{
                    display: none;
                    content: "";
                }
                .content-post{
                    background: transparent;
                }
                a,div{
                    color: $color-principal!important;
                }
                h2{
                    margin-top: -50px;  
                }
            }
        }
    }
 }